<ion-view view-title="Account">
  <ion-content>

    <ul class="list">
      <li class="item item-toggle">
         Eat Breakfast
         <label class="toggle toggle-energized">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Shower
         <label class="toggle toggle-energized">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Do Makeup
         <label class="toggle toggle-energized">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Take Vitamins
         <label class="toggle toggle-energized">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>

  </ion-content>
</ion-view>
